<ion-view>
  <ion-content class="foninfo">
   <div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="info">Infografia</b></div>
   
  </div>
    <div class="row">
      <div class="col">
        <h1 class="la text-center">LA REPRODUCCION SEXUAL</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-50 info">
        <div class="teoria text-center">
          <br><br>
          <p><b> Es la reproducción de las plantas con flores. Cuando un grano de polen llega al pistilo de la flor, se produce la polinización </b></p>
          <br><br>
      <h3 class="reproduccion" >Reproducción Vegetal</h3>
        <img  class="ejemplo" src="http://www.biologia.edu.ar/botanica/animaciones/ciclos/paraiso/images/esquema.png">
      </div>
      <div class="col-50 info">
        <br>
        
        </div>
      </div>
    </div>
   
       
        </div>
      </div>
      <div class="col-50 info">
  </ion-content>
</ion-view>
