<ion-view>
  <ion-content class="menu">
       <div class="row" style="background:;background-position:fixed;">
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#09FFC0;padding:4%;"><b>Video</b></div>
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#09FFC0;padding:4%;"><b>Memoria</b></div>
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#09FFC0;padding:4%;"><b>ADN</b></div>
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#09FFC0;padding:4%;"><b>Agua</b></div>
    </div>
      <div class="row">
        <div class="col">
        <h1 style="color:blue;margin-top:60%;margin-left:30%;font-family: 'Playfair Display', serif;">"AguaApp
        Biologia"</h1>
        </div>
      </div>
  </ion-content>
</ion-view>
