<ion-view>
  <ion-content class="">
   <div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://3.bp.blogspot.com/-7O6m-ojsiFQ/WTWan8k55PI/AAAAAAAAB0s/6idnj7UHbQ4rBHpOQTOr7QJjSBNUoY55ACLcB/s1600/Modificaci%25C3%25B3n.gif);padding:1%;"><b ui-sref="info">Infografia</b></div>
   
  </div>

          
          <h4 style="color:chartreuse;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>La contaminacion del agua</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div  style="background-image: url(https://67.media.tumblr.com/3610953ee38455b84107ee39d0e1fdae/tumblr_n2l89exnaD1qcu3vno1_500.gif)no-repeat;">
          
          <h4 style="color:chartreuse;font-family: 'Oswald', sans-serif;font-size:35px;text-align:center;"><b>Importancia del agua en el ser humano</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:">
          
          <h4 style="color:chartreuse;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>Como Cepillarse Los Dientes Correctamente</b></h4><br>
        </div>
      </div>
    </div>
    
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:">
          
          <h4 style="color:chartreuse;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>Metodos Anticonceptivos</b></h4><br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
